@charset "utf-8";
/* CSS Document */

.background{
	height: 1446px;
	width: 1271px;
	border: solid;
	border-color: #000;
	background-color: #000;
	border-width: thick;
	position: absolute;
	left: 2px;
	top: 1px;
	z-index: 0;
}

.title{
	height: 132px;
	width: 905px;
	border: solid;
	border-color: #3FFF00;
	border-width: thick;
	background-color: #999;
	position: absolute;
	left: 182px;
	top: 60px;
	padding-top: 32px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	font-family: "Comic Sans MS", cursive;
	color: #FFF;
	font-size: 70px;
	z-index: 1;
	text-align: center;
}

.photos{
	height: 430px;
	width: 334px;
	position: absolute;
	z-index: 2;
	left: 464px;
	top: 328px;
}


.promise{
	height: 484px;
	width: 992px;
	border: solid;
	border-color: #3FFF00;
	border-width: thick;
	background-color: #999;
	position: absolute;
	padding-top: 24px;
	padding-right: 10px;
	padding-left: 9px;
	font-weight: bold;
	text-align: center;
	font-style: italic;
	font-family: "Comic Sans MS", cursive;
	color: #FFF;
	font-size: 32px;
	z-index: 1;
	text-align: center;
	left: 146px;
	top: 900px;
	padding-right: 7px;
}

.resumetab{
	height: 27px;
	width: 192px;
	position: absolute;
	left: 662px;
	top: 260px;
	border: solid;
	border-width: medium;
	border-color: #40FF0B;
	color: #FFF;
	background-color: #999999;
	font-size: 18px;
	z-index: 2;
	text-align: center;
	padding-top: 10px;
}

.abouttab{
	height: 27px;
	width: 195px;
	position: absolute;
	left: 417px;
	top: 259px;
	border: solid;
	border-width: medium;
	border-color: #40FF0B;
	color: #FFF;
	background-color: #999999;
	font-size: 18px;
	z-index: 2;
	text-align: center;
	padding-top: 10px;
}

.projectstab{
	height: 27px;
	width: 189px;
	position: absolute;
	left: 898px;
	top: 261px;
	border: solid;
	border-width: medium;
	border-color: #40FF0B;
	color: #FFF;
	background-color: #999999;
	font-size: 18px;
	z-index: 2;
	text-align: center;
	padding-top: 10px;
}

.hometab{
	height: 27px;
	width: 195px;
	position: absolute;
	left: 182px;
	top: 257px;
	border: solid;
	border-width: medium;
	border-color: #40FF0B;
	color: #FFF;
	background-color: #999999;
	font-size: 18px;
	z-index: 2;
	text-align: center;
	padding-top: 10px;
}
